[project]
	description = Qt Creator\n\
\n\
Qt Creator is a cross-platform Qt IDE. It is available as a stand-alone package or in combination with the Qt libraries and development tools as a complete SDK. Qt Creator includes:\n\
\n\
"    An advanced C++ code editor"\n\
"    Project and build management tools"\n\
"    Integrated, context-sensitive help system"\n\
"    Visual debugger"\n\
"    Code management and navigation tools"\n\
\n\
Check the Project page for more information on how to get Qt Creator, FAQ, and how to contribute.\n\
\n\
ssh://codereview.qt-project.org:29418/qt-creator/qt-creator.git
[receive]
	requireChangeId = true
	requireContributorAgreement = true
[submit]
	action = cherry pick
	mergeContent = true
[access "refs/*"]
	owner = group Qt Creator Owners
[access "refs/heads/*"]
	create = group Qt Creator Owners
	push = +force group Qt Creator Owners
[access "refs/tags/*"]
	pushTag = group Qt Creator Owners
[cherryPick]
	includeReviewedOn = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
[access]
	inheritFrom = All-Non-CI-Projects
[access "refs/for/refs/heads/wip/clang"]
	pushMerge = group Qt Creator
[access "refs/heads/wip/qbs"]
	push = +force group Approvers
[access "refs/for/refs/heads/wip/qbs"]
	exclusiveGroupPermissions = push submit
[access "refs/heads/wip/vcproj"]
	push = +force group Registered Users
[access "refs/heads/wip/profile"]
	push = +force group Approvers
