[project]
	description = A cross-platform Qt IDE
	state = active
[receive]
[submit]
	action = cherry pick
[access "refs/heads/*"]
	create = group Qt Creator Owners
	push = +force group Qt Creator Owners
[access "refs/tags/*"]
	pushTag = +force group Qt Creator Owners
[cherryPick]
	includeReviewedOn = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
[access]
	inheritFrom = All-Non-CI-Projects
[access "refs/heads/wip/vcproj"]
	label-Code-Review = -2..+2 group Qt Creator wip/vcproj
	submit = group Qt Creator wip/vcproj
[access "refs/heads/wip/qbs"]
	push = +force group Approvers
[access "refs/heads/master"]
	submit = group Qt Creator Owners
	exclusiveGroupPermissions = submit
[access "refs/*"]
	owner = group Qt Creator Owners
[access "refs/for/refs/heads/3.0"]
	exclusiveGroupPermissions = push
[cherryPick "labelFooters"]
	Sanity-Review = true
