[remote "qt-cherry-pick-bot"]
  url = https://qt-cherry-pick-bot.herokuapp.com/gerrit-events
  maxTries = 10
  event = patchset-created
  event = change-merged
  event = change-abandoned
  event = change-staged
  event = change-unstaged
  event = comment-added
  event = change-integration-pass
  event = change-integration-fail
[remote "Gitlab-Github-Proxy"]
  url = https://qt-gerrit-ci-integrator.herokuapp.com/gerrit-events
  maxTries = 10
  sslVerify = false
  event = patchset-created
  event = change-abandoned